
.idea/Backend.iml
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dataSources.xml
.idea/modules/aiku-alarm/aiku.aiku-alarm.main.iml
.idea/modules/aiku-common/aiku.aiku-common.main.iml
.idea/modules/aiku-main/aiku.aiku-main.main.iml
.idea/uiDesigner.xml
.idea/modules/aiku-login/aiku.aiku-login.main.iml
.idea/modules/aiku-login/aiku.aiku-login.test.iml
*.iml
.idea/modules/aiku-map/aiku.aiku-map.main.iml
.idea/modules/aiku-map/aiku.aiku-map.main.iml
/.idea
*.iml
.idea/modules/aiku-map/aiku.aiku-map.main.iml
application-test.yml
**/test/resources/application.yml
aiku/aiku-alarm/src/main/java/alarm/fcm/aiku2024-firebase-adminsdk-9fjfc-df87d6f024.json
